<!--
  [#50B2C0]-azul cielo
  [#201E1F]-negro grisaceo
  [#FF4000]-naranja guapardo
  [#FAAA8D]-piel rosada
  [#FEEFDD]-blanco roto

-->


<div class="grid grid-cols-2 bg-gradient-to-r from-[#FEEFDD] to-[#FAAA8D]">

  <div class="flex flex-col justify-center h-screen">
    <div class="p-4">
      <h1 class="mx-auto">Titulo o frase descriptiva para presentar el proyecto</h1>
    </div>
    <div class="p-4">
      <p>
        Organiza tu trabajo <a href="#" class="text-[#FF4000] hover:underline">registrándote aquí</a>
        o
        <button type="button" routerLink="/login"
          class="text-[#FF4000] hover:text-[#FEEFDD] border border-[#FF4000] hover:bg-[#FF4000] font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">inicia sesión</button>
        si ya organizas tu trabajo con ATask
      </p>
    </div>
  </div>

  <div class="flex items-center h-screen">
    <h1>Aqui alguna imagen o Logo</h1>
  </div>

</div>
