<!--
  [#50B2C0]-azul cielo
  [#201E1F]-negro grisaceo
  [#FF4000]-naranja guapardo
  [#FAAA8D]-piel rosada
  [#FEEFDD]-blanco roto
-->

<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-[#FEEFDD] to-[#FAAA8D]">

  <div class="container mx-auto mt-6 p-6 max-w-md bg-[#201E1F] text-[#FEEFDD] shadow-lg rounded-lg">
    <h2 class="text-xl font-bold text-center text-[#FF4000]">Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="mt-5">

        <label class="block mb-2">Nombre de usuario</label>

        @if (loginForm.controls['username'].hasError('required')) {

        <p class="text-[#50B2C0] mb-2">! Nombre de usuario necesario</p>
        }

        <input type="text" formControlName="username" placeholder="Nombre de usuario"
          class="w-full p-2 rounded bg-gradient-to-r from-[#FEEFDD] to-[#FAAA8D] text-[#201E1F] placeholder-[#201E1F]">

      </div>

      <div class="mt-5">

        <label class="block mb-2">Contraseña</label>
        @if (loginForm.controls['password'].hasError('required')) {

        <p class="text-[#50B2C0] mb-2">! Contraseña vacía</p>
        }
        <input type="password" formControlName="password" placeholder="Contraseña"
          class="w-full p-2 rounded bg-gradient-to-r from-[#FEEFDD] to-[#FAAA8D] text-[#201E1F] placeholder-[#201E1F]">

      </div>


      @if (errorMessage) {

      <p class="text-[#50B2C0] mt-2">{{ errorMessage }}</p>
      }

      <button type="submit" [disabled]="loginForm.invalid"
        class="mt-8 w-full text-[#FF4000] hover:text-[#FEEFDD] border border-[#FF4000] hover:bg-[#FF4000] font-medium rounded-lg text-sm text-center p-2 mt-4">Iniciar
        sesión</button>
    </form>
  </div>

</div>
