<div class="container mx-auto mt-10 p-6 max-w-md bg-white shadow-lg rounded-lg">
  <h2 class="text-xl font-bold text-center">Iniciar Sesión</h2>

  <form (ngSubmit)="login()">
    <div class="mt-4">
      <label class="block">Email</label>
      <input type="email" [formControl]="email" placeholder="Correo electrónico" class="w-full border p-2 rounded">
    </div>

    <div class="mt-4">
      <label class="block">Contraseña</label>
      <input type="password" [formControl]="password" placeholder="Contraseña" class="w-full border p-2 rounded">
    </div>

    @if (errorMessage) {

      <p class="text-red-500 mt-2">{{ errorMessage }}</p>
    }

    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded mt-4">Entrar</button>
  </form>
</div>
