<div class="m-4 w-[98%] rounded-md p-4 border-2 border-[#FF4000] bg-white">

  <h3 class="mb-2 ml-4">Añadir usuarios</h3>
  <hr class="border border-[#FF4000]">

  <!--
  <label for="numero">Crear <input name="numero" type="number" class="w-[6ch] mt-4 border-2 border-[#FF4000] rounded-md text-right" min="1" max="99"> usuarios</label>
  -->
  <div class="m-4">
    <label for="numero">Registrar

      <select name="numero" id="numero">

        @for (i of iSelect | repeat; track $index) {
        <option [value]="i + 1">{{i + 1}}</option>
        }
      </select> usuario/s
    </label>
  </div>
</div>
