<div class="m-4 w-[98%] rounded-md p-4 border-2 border-[#FF4000] bg-white">
  <ul class="flex flex-col gap-2 m-2 p-2 bg-white rounded-lg">
    @for (usuario of usuarios; track $index) {
    <li class="p-2">
      @switch (mode) {
      @case ('simple') {
      <div class="flex justify-between items-center">
        {{ usuario.username }}
      </div>
      }

      @case ('admin') {
      <div class="flex justify-between items-center">
        <div>
          <p><strong>{{ usuario.username }}</strong> ({{ usuario.email }})</p>
          <p>Rol: {{ usuario.rol }}</p>
        </div>
        <div class="flex gap-2">
          <button class="text-blue-600 hover:underline" (click)="iniciarEdicion(usuario.username)">Editar</button>
          <button class="text-red-600 hover:underline" (click)="eliminarUsuario(usuario.username)">Eliminar</button>
        </div>
      </div>
      @if(usuarioEnEdicion === usuario.username){
      <div class="mt-4 bg-[#FEEFDD] rounded-md p-4">
        <app-user-form [usuario]="usuario" (cancelar)="usuarioEnEdicion = null"
          (guardado)="actualizarUsuario($event)"></app-user-form>
      </div>
      }
      }
      }
    </li>
    <hr class="border border-[#FF4000]">
    }
  </ul>
</div>
